*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    position: relative;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #fff ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    position: relative;
}
.elem h1{
    font-size: 5vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;

}
.elem img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.3s;
    
}